<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>791407602065-urbg4i2oec9fe0vo4nkitudtg639fgqa.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.791407602065-urbg4i2oec9fe0vo4nkitudtg639fgqa</string>
	<key>API_KEY</key>
	<string>AIzaSyBLmUh490OsE2X9whsWa_ugPw59uP-Woe4</string>
	<key>GCM_SENDER_ID</key>
	<string>791407602065</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.connorlynch.iForage</string>
	<key>PROJECT_ID</key>
	<string>foragenearme</string>
	<key>STORAGE_BUCKET</key>
	<string>foragenearme.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false/>
	<key>IS_ANALYTICS_ENABLED</key>
	<false/>
	<key>IS_APPINVITE_ENABLED</key>
	<true/>
	<key>IS_GCM_ENABLED</key>
	<true/>
	<key>IS_SIGNIN_ENABLED</key>
	<true/>
	<key>GOOGLE_APP_ID</key>
	<string>1:791407602065:ios:975f1fe927844aab39d230</string>
</dict>
</plist>
